/* Hex colors (light to dark): #383838 #212121 #202020 #181818 */

/* ----------------------------- Text Style ----------------------------- */
h1 {
  color: white;
  text-align: center;
  font-family: "Lucida Handwriting","Arvo"; /*remove font-families?*/
}

h2 {
  color: white;
  text-align: center;
  font-family: "Lucida Handwriting","Arial";
}

h3 {
  color: white;
  text-align: center;
  font-family: "Lucida Handwriting","Arial";
}

body {
  color: white;
  background-color: #303030;
}

/* ------------------------------- Slider ------------------------------- */
/* Citation: https://www.w3schools.com/howto/howto_js_rangeslider.asp */

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 25%;
  height: 8px;
  border-radius: 5px;  
  background: white;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 13px;
  height: 13px;
  border-radius: 50%; 
  background: #ff3d3d;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}
/* ------------------------------ Buttons ------------------------------- */

.button {
  cursor: pointer;
  background-color: #212121;
  color: white;
  padding: 10px 15px;
  border: none;
  width: 125px;
}

.button:hover {
  color: black;
  background-color: white;
  transition: 0.2s;
}
/* ------------------------------ Text Box ------------------------------ */
#infoBox {
  border: 1px solid white;
  text-align: center;
  background-color: #3d3d3d;
}
/* -------------------------------- Images ------------------------------ */
.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
/* -------------------------------- Plots ------------------------------- */
.plot {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  height: 500px;
}
/* ------------------------------ Side Bar ------------------------------- */
/* Citation: https://stackoverflow.com/questions/48066685/text-collapsing-on-side-menu-close */

.menu-toggle {
  cursor:pointer;
  float:right;
  line-height: 60px;
  }
  
  .fa-bars {
    color: #fff;
    font-size: 30px;
  }
  
  
  .nav-wrapper {
    width: 83%;
    margin: 0 auto;
  }
  
  
  .navbar {
    height: 75px;
    background-color: gray;
  }
  
  /* The side navigation menu */
  .sidenav {
      height: 100%; /* 100% Full-height */
      width: 400px; /* 0 width - change this with JavaScript */
      position: fixed; /* Stay in place */
      z-index: 1; /* Stay on top */
      top: 0; /* Stay at the top */
      left: -400px;
      /* background:rgba(75,156,211,0.9) url('../img/unc_pine_cb.svg') no-repeat; */
      /* background: #212121 url('../img/unc_pine_cb.svg') no-repeat; */
      background:rgba(33,33,33,0.9);
      background-size: 200%;
      overflow-x: visible; /* Disable horizontal scroll */
      padding-top: 60px; /* Place content 60px from the top */
      transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
      padding: 15px 8px 10px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #fff;
      display: block;
      transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
      color: gray;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 36px;
  }
  
  a.sidenav:nth(1) {
    margin-top: 30px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
      .sidenav {padding-top: 15px;}
      .sidenav a {font-size: 18px;}
  }

/* -------------------------------- Bottom Bar ------------------------------- */
#credits { 
  text-align: center;
  height: 20px; 
  position: fixed; 
  bottom:0%;
  width:100%;
  background-color: #181818; 
  opacity: 1;
  margin-left:-1.5%; /* removes indent */
}
