/* Hex colors (light to dark): #383838 #212121 #202020 #181818 */

/* ----------------------------- Text Style ----------------------------- */
h1 {
  color: white;
  text-align: center;
  font-family: "Lucida Handwriting","Arial"; /*remove font-families?*/
}

h2 {
  color: white;
  text-align: center;
  font-family: "Lucida Handwriting","Arial";
}

h3 {
  color: white;
  text-align: center;
  font-family: "Lucida Handwriting","Arial";
}

body {
  color: white;
  background-color: #3d3d3d;
}

/* ----------------------------- Slider Style ----------------------------- */
.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 25%;
  height: 8px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 13px;
  height: 13px;
  border-radius: 50%; 
  background: #ff3d3d;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}
/* ----------------------------- Plot Style ----------------------------- */
.plot {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  height:250px;
}